body {
    margin: 0;
    padding: 0 10px 10px 10px;
    font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 14px;
}

header {
    height: 35px;
    background: #4b6ea9;
    border: 1px solid #215298;
    border-top: 0px;
}
.container {
    position: relative;
    margin-top: 60px;
}

.calender_container {
    margin: 0 auto;
    position: relative;
    height: 720px;
    width: 600px;
    background: #ececec;
    border-left: 1px solid #dbdbdb;
}

.calender {
    padding: 0 10px;
}

.calender_box {
    position: relative;
}


.event {
    background: #ffffff;
    border: 1px solid #dadada;
    border-left: 4px solid #4b6ea8;
    position: absolute;
    overflow: hidden;
    -webkit-animation: showEvent 0.3s;
    -moz-animation: showEvent 0.3s;
    animation: showEvent 0.3s;
}



.event p {
    margin: 10px 10px 0 10px;
}
.event .title {
    color: #5877ae;
    font-size: 14px;
}
.event .location {
    font-size: 11px;
    color: #a9a9a9;
    margin-top: 2px;
}
.event .timez {
    font-size: 11px;
    color: #a9a9a9;
    top: 6px;
    position: absolute;
    right: 7px;
}







.timeline {
    position: absolute;
    top: -5px;
    left: -80px;
}
.timeline ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 70px;
    height: 720px;
}
.timeline ul li {
    display: block;
    height: 60px;
}
.timeline ul li div:first-child {
    margin-bottom: 13px;
}
.timeline ul li .view_hour {
    color: #7d7d7d;
    font-weight: bold;
    margin-right: 3px;
}
.timeline ul li .light {
    color: #bfbfbf;
    font-size: 12px;
}
.timeline ul li .view_zone {
    line-height: 18px;
}

.timeline ul li div.hourpoint{
    text-align: right;
}